@import "../geralscss/geral";

ion-content {
  ion-card.card-review {

    margin-inline: 6pt;
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 16pt;
    .categoria{
      position: absolute;
      top: 15pt;
      background: #002bd9;
      left: 0;
      padding: 2pt;
      color: #FDFDFD;
      font-size: .6rem;
    }
    ion-card-content {

      padding-inline: 6pt;
      padding-top: 6pt;
      padding-bottom: 6pt;
      .botao{
        ion-col{
          padding: 8pt 0 8pt 0;
          ion-button{
            font-weight: 900;
            margin: 0;
          }
        }
      }
      .text-ajust {
        border-top: 1pt solid #a5a5a5;
        margin-top: 4pt;
        padding-top: 4pt;
        text-align: justify;

        .button-colapsed {
          display: flex;
          align-items: flex-end;
        }

        span {
          background: #002BD9;
          color: #FDFDFD;
          border-radius: 100%;
        }
      }

      ion-row.horario-reserva {
        border-top: 1px solid #E5E5E5;
        margin-top: 5pt;

        h4, ion-col {
          font-size: 7pt;

          span {
            font-size: 7pt;
          }
        }
      }

      .icon-center {
        display: flex;
        justify-content: center;
        background: #F2F2F2;

        span {
          margin: auto 0;
          color: #002BD9;
        }



      }

      h4 {
        font-size: 9pt;
        font-weight: 700;
        margin: 0;
        color: #000DC2;
      }

      h4.price {
        text-align: right;
      }

      ion-row.box-info {
        font-size: 7pt !important;

        span {
          font-size: 6pt !important;
        }
        .box-info-status{
          text-align: right;
          span.status-reserva {
            background: #57bf57;
            font-size: 9pt !important;
            color: #FDFDFD;
            padding: 2pt 4pt;
          }
        }
        ion-col.info-locacao-tipo {
          text-align: right;
        }
      }

      p {
        font-size: .6rem;
      }

      ion-row.box-detail {
        padding-top: 6pt;
        padding-bottom: 3pt;

        .icon-center {
          display: flex;
          justify-content: center;
          background: #F2F2F2;

          span {
            margin: auto 0;
            color: #BDBDBD;
          }
        }

        h4 {
          color: #002BD9;
          font-size: 9pt;
          font-weight: 700;
          margin-bottom: 7pt;
        }

        p {
          font-size: .6rem;
        }
      }

    }

    ion-card-content.review {
      ion-row.row-renew {
        padding-top: 0;
      }

      ion-col {
        padding-bottom: 0;
      }
    }

  }


}
