@import '../geralscss/geral.scss';

ion-content{
  ion-card {
    margin-inline: 6pt;
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 2pt;
    ion-card-content {
      padding-inline: 6pt;
      padding-top: 6pt;
      padding-bottom: 6pt;
      .icon-center{
        display: flex;
        justify-content: center;
        background: #F2F2F2;
        span{
          margin: auto 0;
          color: #FB9B00;
        }
      }
      h4{
        color: #002BD9;
        font-size: 1.3rem;
        font-weight: 700;
        margin-bottom: 7pt;
      }
      p{
        font-size: .6rem;
      }
    }
  }

}
