<ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-button color="primary">
            <ion-menu-button slot="icon-only"></ion-menu-button>
        </ion-button>
    </ion-buttons>
    <ion-buttons class="fim-botoes" slot="end">
        <ion-button slot="icon-only" routerLink="/notificacoes" color="primary">
            <span class="material-icons">
                notifications_active
            </span>
        </ion-button>
        <ion-button slot="icon-only" color="primary">
            <span class="material-icons">
                search
            </span>
        </ion-button>
    </ion-buttons>
    <ion-title>
        <ion-img class="img-logo" src="assets/img/layout/logo.png"></ion-img>
    </ion-title>
</ion-toolbar>

<ion-content>
    <ion-grid class="backgroud-azul">
    </ion-grid>
    <ion-grid class="box-color">
        <ion-row>
            <ion-col class="titulo">
                Detalhe da Locação
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-img class="img-flutu" src="assets/img/layout/flutu.png"></ion-img>
                    <div class="categoria"> Flutuante</div>
                    <ion-card-header>
                      <ion-row>
                        <ion-col>
                          <ion-card-title>Estrela do lago</ion-card-title>
                        </ion-col>
                        <ion-col size="4" class="price">
                          <span>R$ 1200,00</span>
                        </ion-col>
                      </ion-row>
                    </ion-card-header>

                    <ion-card-content class="box-info">
                        <ion-row>
                            <ion-col>
                              <span class="material-icons"> room </span> Palmas - TO
                            </ion-col>
                            <ion-col class="texto-horario">
                              <span class="horarios">Horários Disponíveis</span>
                            </ion-col>
                        </ion-row>
                        <ion-row class="caracteristicas">
                            <ion-col>
                                <span class="material-icons">
                                    meeting_room
                                </span>
                                1 Cabine
                            </ion-col>
                            <ion-col>
                                <span class="material-icons">
                                    hot_tub
                                </span>
                                1 Banheiro
                            </ion-col>
                            <ion-col>
                                <span class="material-icons">
                                    person
                                </span>
                                20 Passageiros
                            </ion-col>
                            <ion-col>
                                <span class="material-icons">
                                    zoom_out_map
                                </span>
                                10m
                            </ion-col>
                        </ion-row>
                        <ion-row class="descricao">
                            <p>
                                Flutuantes com banheiro, churrasqueira, extintores, uma completa e segura estrutura cuidadosamente pensado para levar você ao melhor
                                passeio náutico. Casamentos, aniversários, confraternizações, motivos não vão faltar pra você, seus amigos e sua família desfrutar
                                desse lazer em alto nível.
                            </p>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
                <ion-card class="comodidades">
                    <ion-card-header>
                        <ion-row>
                            <ion-col>
                                <ion-card-title>Comodidades</ion-card-title>
                            </ion-col>
                        </ion-row>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-row>
                            <ion-col size="4">
                                <span class="material-icons">
                                    done
                                </span>
                                Banheiro Social
                            </ion-col>
                            <ion-col size="4">
                                <span class="material-icons">
                                    done
                                </span>
                                Extintores
                            </ion-col>
                            <ion-col size="4">
                                <span class="material-icons">
                                    done
                                </span>
                                Internet / WIFI
                            </ion-col>
                            <ion-col size="4">
                                <span class="material-icons">
                                    done
                                </span>
                                Churrasqueira
                            </ion-col>
                            <ion-col size="4">
                                <span class="material-icons">
                                    done
                                </span>
                                Caixa de Som
                            </ion-col>
                            <ion-col size="4">
                                <span class="material-icons">
                                    done
                                </span>
                                Mesa e cadeiras
                            </ion-col>
                            <ion-col size="4">
                                <span class="material-icons">
                                    done
                                </span>
                                Cobertura
                            </ion-col>
                            <ion-col size="4">
                                <span class="material-icons">
                                    done
                                </span>
                                Microfones
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
                <ion-card class="comodidades">
                    <ion-card-header>
                        <ion-row>
                            <ion-col>
                                <ion-card-title>Comodidades</ion-card-title>
                            </ion-col>
                        </ion-row>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-row>
                            <ion-col size="4">
                                <span class="material-icons">
                                    done
                                </span>
                                Música ao vivo
                            </ion-col>
                            <ion-col size="4">
                                <span class="material-icons">
                                    done
                                </span>
                                DJ
                            </ion-col>
                            <ion-col size="4">
                                <span class="material-icons">
                                    done
                                </span>
                                Cerimonial
                            </ion-col>
                            <ion-col size="4">
                                <span class="material-icons">
                                    done
                                </span>
                                Churrasqueira
                            </ion-col>
                            <ion-col size="4">
                                <span class="material-icons">
                                    done
                                </span>
                                Buffet
                            </ion-col>
                            <ion-col size="4">
                                <span class="material-icons">
                                    done
                                </span>
                                Fotografo
                            </ion-col>
                            <ion-col size="4">
                                <span class="material-icons">
                                    done
                                </span>
                                Segurança
                            </ion-col>
                            <ion-col size="4">
                                <span class="material-icons">
                                    done
                                </span>
                                Cinegrafista
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row class="botao">
            <ion-col>
                <ion-button type="button" color="primary" routerLink="/horarios-locacao" expand="full">Iniciar Reserva</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
